:root {
    --primary: #79c5d8;
    --bg-dark: #f7f6f68a;
    --card-bg: rgba(255, 255, 255, 0.05);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-dark);
    color: black;
    margin: 0;
    display: flex; /* Usamos flex para poner el menú a la izquierda y el contenido a la derecha */
}

/* Estilo del menú lateral */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #1a1a1a;
    position: fixed;
    padding: 20px;
    border-right: 5px solid var(--primary);
}

.sidebar ul { list-style: none; padding: 0; }
.sidebar li { margin: 20px 0; }
.sidebar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.sidebar a:hover { color: var(--primary); padding-left: 10px; }

/* Contenido Principal */
.content {
    margin-left: 280px; /* Desplazamos el contenido para que no lo tape la sidebar */
    padding: 40px;
    max-width: 900px;
}

.card {
    background: rgb(126, 125, 125);
    backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    border: 2px solid rgba(255,255,255,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px); /* Pequeña animación de levante */
}

h1, h2, h3 { color: #79c5d8; -webkit-text-stroke: 1px black;}

#tercercorte{ text-align: center; font-size: 30px;}

.img-placeholder img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

/* Animación del foco */
.bulb {
    font-size: 50px;
    filter: grayscale(100%);
    transition: 0.5s;
    text-align: center;
}

.bulb.on {
    filter: grayscale(0%) drop-shadow(0 0 20px yellow);
}

button {
    background: var(--primary);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer{color: #1a1a1a;}
